body {
	font-family: 'Yusei Magic', 'sans-serif';
}

.nav-bar {
	text-decoration: none;
	padding: 30px;
}

.nav-bar-ul {
	display: flex;
	flex-direction: row-reverse;
	justify-content: right;
	list-style-type: none;
}
